body {
  background-color: darkgrey;
  text-align: center;
  /* background-image: url(https://thumbs.dreamstime.com/b/papel-amarillo-de-la-libreta-con-las-l%C3%ADneas-y-el-fondo-rojo-del-margen-61116275.jpg);
  background-size: cover; */
}

h1 {
  text-decoration: underline;
}

form.input {
  margin: 10px auto;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  box-shadow: 2px 2px 20px -1px black;
}
  input {
    margin: 15px;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 20px -4px black;
  }
  .input button {
    width: 80px;
    margin: 15px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 20px -4px black;
  }
    button:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

article button {
  width: 80px;
  margin: 15px;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 20px -4px black;
}

article {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: whitesmoke;
  margin: 10px auto;
  max-width: 650px;
}
  article>h3 {
    width: 30%;
    text-align: start;
    margin-left: 10px;
  }
  article>input {
    width: 25%;
    margin: none;
    text-align: center;
    border-radius: 10px;
    border: none;
    height: 12px;
    box-shadow: 2px 2px 20px -4px black;
  }
  article>select {
    height: 25px;
    margin-right: 10px
  }
  article #check {
    width: 5%;
    box-shadow: none;
  }
  article .botones {
    margin: none;
    width: 40%;
  }
    article button {
      margin: 5px;
    }
    article.true {
      background-color: green;
    }

h2.tareas{
  text-decoration: underline;
}

h3:hover {
  cursor: pointer;
}

button {
  margin: 15px;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 20px -4px black;
}